@import "tailwindcss";
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
.bg-custom {
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .bg-custom {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}